.heading {
  text-decoration: none;
}

ul {
  margin-top: 100px;
}
nav {
  position: sticky;
  z-index: 1;
}
ul li a:hover {
  background-color: rgb(165, 165, 165);
}

nav {
  position: sticky;
  z-index: 1;
}
.navbar {
  -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.cartSection i {
  font-size: 1.8rem;
}
.cartSection .itemQuantity {
  font-size: 30px;
  color: black;
  position: absolute;
  top: -1.2rem;
  left: 4.5rem;
}
