<nav class="row bg-primary navbar d-flex">
    <div class="logo col-lg-4 col-md-4 col-xl-4">
        <a routerLink="" class="heading h1 text-light ms-3">TechLite</a>
    </div>
    <form class="d-flex col-lg-4 col-md-4 col-xl-4">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
            (input)="onInput($event)">
        <button class="btn btn-success" type="submit">Search</button>
    </form>
    <div class=" text-light col-lg-4 col-md-4 col-xl-4 d-flex ">
        <span *ngIf="!isUserLogedIn" routerLink="login" class="btn btn-dark">login/registration</span>
        <button type="button" class="btn position-relative" routerLink="viewCart" *ngIf="isUserLogedIn">
            <i class="fa fa-shopping-cart"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge bg-dark">{{itemAvialable}}</span>
        </button>
        <span class="mainDropDown dropdown float-end  ms-5" *ngIf="isUserLogedIn">
            <i class="fa-solid fa-user dropdown-toggle userLogo ms-5 " type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 30px;">
            </i>
            <ul class="dropdown-menu dropdownMenu" aria-labelledby="dropdownMenuButton1">
                <li *ngIf="isUserLogedIn"><span class="dropdown-item "><span>Hello, </span>{{name}}</span></li>
                <li><a class="dropdown-item " routerLink="profileView">Profile</a></li>
                <li><a class="dropdown-item " href="#">Setting</a></li>
                <li><a class="dropdown-item " (click)="logOut()">Log out</a></li>
                <li><a class="dropdown-item" routerLink="dashboard" *ngIf="isUserAdmin">Dashboard</a></li>
            </ul>
        </span>
    </div>
</nav>

<!-- <app-home></app-home> -->
<!-- <div>{{user.length}}</div> -->