.heading {
  text-decoration: none;
}

ul {
  margin-top: 100px;
}
nav {
  position: sticky;
  z-index: 1;
}
ul li a:hover {
  background-color: rgb(165, 165, 165);
}

nav {
  position: sticky;
  z-index: 1;
}
