<nav class="row bg-primary navbar d-flex">
    <div class="logo col-lg-4">
    <a  routerLink="" class="heading h1 text-light ms-3">TechLite</a>
    </div>
        <form class="d-flex col-lg-4">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">Search</button>
        </form>
            <div class=" text-light col-lg-4  ">
                <a routerLink="dashboard" class="btn btn-dark mb-3">Dashboard</a>
                <span class="mainDropDown dropdown">
                <i class="fa-solid fa-user dropdown-toggle userLogo me-3 my-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 30px;">
                </i>
                <ul class="dropdown-menu dropdownMenu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item " href="#">Profile</a></li>
                <li><a class="dropdown-item " href="#">Setting</a></li>
                <li><a class="dropdown-item " href="#">Sign out</a></li>
                <!-- <li><a class="dropdown-item" routerLink="/dashboard" href="#">Dashboard</a></li> -->
                </ul>
                </span>
            </div>
            
    </nav>

    <!-- <app-home></app-home> -->

