

<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-white col-lg-2" id="sidebar-wrapper">
    <div class="list-group list-group-flush my-3">
      <p
        href="#"
        class="list-group-item list-group-item-action bg-transparent second-text active h4"
        ><i class="fas fa-tachometer-alt me-2"></i>Dashboard</p
      >
      <a
       routerLink="category"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fas fa-project-diagram me-2"></i>Category</a
      >
      <a
         routerLink="subCategory"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fas fa-paperclip me-2"></i>Sub Category</a
      >
        <a
     routerLink="product"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
      >
        <i class="fa-solid fa-gifts me-2"></i>Products</a
      >
      <a
        routerLink="category"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fa-solid fa-users me-2"></i>Users</a
      >
          <a
     routerLink="category"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fa-solid fa-money-bill-1-wave me-2"></i>Payments</a
      >
        <a
       routerLink="category"
        class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
        ><i class="fa-brands fa-first-order me-2"></i>Orders</a
      >
      <a
      routerLink="category"
        class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"
        ><i class="fas fa-power-off me-2"></i>Logout</a
      >
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper" class="col-lg-10 bg-light ">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
      <div class="d-flex align-items-center">
        <i
          class="fa-solid fa-angles-left primary-text fs-4 me-3"
          id="menu-toggle"
        ></i>
      </div>
    </nav>

    <div class="container-fluid px-4 col-md-12 col-lg-12">
      <div class="row g-3 my-2 ">
          <div class="col-md-2 col-6">
          <div
            class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded"
          >
            <div>
              <h3 class="fs-2">720</h3>
              <p class="fs-5">Users</p>
            </div>
            <i
              class="fa-solid fa-users fs-1 primary-text border rounded-full secondary-bg p-3"
            ></i>
          </div>
        </div>
        <div class="col-md-2 col-6">
          <div
            class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded"
          >
            <div>
              <h3 class="fs-2">{{products.length}}</h3>
              <p class="fs-5">Products</p>
            </div>
            <i
              class="fas fa-gift fs-1 primary-text border rounded-full secondary-bg p-3"
            ></i>
          </div>
        </div>

        <div class="col-md-2 col-6">
          <div
            class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded"
          >
            <div>
              <h3 class="fs-2">4920</h3>
              <p class="fs-5">Sales</p>
            </div>
            <i
              class="fas fa-hand-holding-usd fs-1 primary-text border rounded-full secondary-bg p-3"
            ></i>
          </div>
        </div>

        <div class="col-md-2 col-6">
          <div
            class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded"
          >
            <div>
              <h3 class="fs-2">3899</h3>
              <p class="fs-5">Delivery</p>
            </div>
            <i
              class="fas fa-truck fs-1 primary-text border rounded-full secondary-bg p-3"
            ></i>
          </div>
        </div>

        <div class="col-md-2 col-6">
          <div
            class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded"
          >
            <div>
              <h3 class="fs-2">%25</h3>
              <p class="fs-5">Increase</p>
            </div>
            <i
              class="fas fa-chart-line fs-1 primary-text border rounded-full secondary-bg p-3"
            ></i>
          </div>
        </div>
      </div>

      <div class="row m-1 ">
          <div class="col-lg-10 col-lg-10 p-1">
          <router-outlet></router-outlet>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->
