.productImage{
    width: 10rem;
    object-fit: cover;
    /* border: 1px solid black; */

}
.productImage img{
    max-width: 100%;
    /* border-radius: 50%; */
    object-fit:cover;
}

.rupeeSign{
    color: rgb(1, 1, 1);
    font-size: 1.25rem;
    font-weight: bold;
}
.brandNameTD{
    width: 9rem;
}
.productNameTD{
    width: 10rem;
}
.priceTD{
    width: 6rem;
}
.colorTD{
    width: 7rem;
}
.productName,.brandName{
    width: 7rem;
    white-space: nowrap;
    overflow: hidden;
text-overflow: ellipsis;
}
.brandName{
width: 4rem;
}
/* .dropMenu{
    position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
} */