@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    /* --pink:#007bff; */
}
body{
    font-family: var(--sm-font);
}

/* button */
.btn:not(.nav-btns button){
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}
.btn:not(.nav-btns button):hover{
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.backGroundColor{
    background-color:#007bff!important;
}

/* text color */
.text-primary{
    color:#007bff!important;
}


/* banner */
#banner{
    background: url(../../assets/image/banner-img-1.jpg) top/cover no-repeat;
}
.carousel-inner h1{
    font-size: 60px;
    font-family: var(--lg-font);
}
.carousel-item .button{
    border-color: #fff!important;
}
.carousel-item .button:hover{
    border-color:#007bff!important;
}

/* title */
.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color:#007bff;
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

/* collection */
.active-filter-btn{
    background-color:#007bff!important;
    color: #fff!important;
    border-color:#007bff!important;
}
.filter-button-group .button:hover{
    color: #fff!important;
}
.collection-img span{
    top: 1.25rem;
    right: 1.25rem;
    width: 3rem;
    height:3rem;
    border-radius: 50%;
}
.collection-img img{
 /* height: 4rem; */
 max-width: 100%;
 height: 24rem;
    object-fit: cover;
}
.brandName{
    width: 20rem;
}
.brandName{
    font-size: 1rem;
    font-weight:600;
}
.productName{
    width: 20rem;
    /* border: 1px solid black; */
    padding: 5px;
}
.productNameText{
    color: rgb(121, 116, 116);
    font-size: 1rem;
    font-weight:600;
    width: 16rem;
    white-space: nowrap;
    overflow: hidden;
text-overflow: ellipsis;
}
.productPrice{
    font-size: 1.1rem;
    margin-left: 3rem;
}
.cardItem:hover{
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
cursor: pointer;
}
