<h1 class="h2">Users</h1>
<div class="row">
    <!-- table section -->
    <div class="col-lg-12">
        <table class="table bg-white rounded shadow-sm table-hover text-center table-striped" *ngIf="users.length">
            <thead>
                <tr>
                    <th scope="col" width="50">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Email</th>
                    <th scope="col">Admin/user</th>
                    <th scope="col">Make user Admin</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{user.id}}</td>
                    <td>{{user.userName }}</td>
                    <td>{{user.userEmail }}</td>
                    <td>{{user.userCity }}</td>
                    <td>{{user.isUserAdmin?'admin':'users'}}</td>
                    <td>
                        <button class="btn btn-primary" (click)="onClickMakeUserAdmin(user.id,true)">Yes</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="quoteImage d-flex justify-content-center" *ngIf="!users.length">
            <img src="./assets/image/fashionQuotes.jpg" alt="" />
        </div>
    </div>
</div>